<?xml version='1.0' encoding='utf-8'?>
<widget id="mob.app.dev.outputs" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Week 7 Outputs</name>
    <description>
        A sample application of outputs
    </description>
    <author email="c.bowers@worc.ac.uk" href="worcester.ac.uk">
        WBS Computing
    </author>
    <preference name="phonegap-version" value="cli-7.0.1" />
    <preference name="permissions" value="none" />
    <access origin="*" />
    
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-vibration" spec="~2.1.5" />
    <plugin name="cordova-plugin-shake" source="npm" />
</widget>
